@charset "UTF-8";


body{
    background-color: aqua;
    height: 97vh;
    background-image: url(imagens/wallpaper005.jpg);
    background-repeat: no-repeat;
    background-position:top center ;
    background-size: 700px;
}