@charset "UTF-8";


body{
    height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 2px solid black; 
    border-radius: 15px;
    
}